In [ ]:
#โจทย์คือหาจำนวนหนัง Action และจำนวนนักแสดง Actiom

In [1]:
import pandas as pd
df = pd.read_csv('C:\\Users\\ADMINS\\DATASPELL Project\\IMDb movies (2).csv')
df

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\ADMINS\\DATASPELL Project\\IMDb movies (2).csv'

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81273 entries, 0 to 81272
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          81273 non-null  object
 1   title                  81273 non-null  object
 2   original_title         81273 non-null  object
 3   year                   81273 non-null  int64
 4   date_published         81273 non-null  object
 5   genre                  81273 non-null  object
 6   duration               81273 non-null  int64
 7   country                81234 non-null  object
 8   language               80462 non-null  object
 9   director               81200 non-null  object
 10  writer                 79780 non-null  object
 11  production_company     76948 non-null  object
 12  actors                 81207 non-null  object
 13  description            78843 non-null  object
 14  avg_vote               81273 non-null  float64
 15  votes                  81273 non-null  int64
 16  budget                 22804 non-null  object
 17  usa_gross_income       15094 non-null  object
 18  worlwide_gross_income  29892 non-null  object
 19  metascore              12722 non-null  float64
 20  reviews_from_users     74196 non-null  float64
 21  reviews_from_critics   70286 non-null  float64
dtypes: float64(4), int64(3), object(15)
memory usage: 13.6+ MB

In [ ]:
#หาจำนวนหนัง Action

In [20]:
df['Action_genre'] = df['genre'].apply(lambda member: 'Action' in member)
Action_movie = df[df['Action_genre']]
Action_movie

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,Action_Genre1,Action_genre1,Action_genre
35,tt0004465,The Perils of Pauline,The Perils of Pauline,1914,1914-03-23,"Action, Adventure, Drama",199,USA,English,"Louis J. Gasnier, Donald MacKenzie",...,921,$ 25000,NaN,NaN,NaN,5.0,7.0,True,True,True
36,tt0004635,The Squaw Man,The Squaw Man,1914,1914-02-15,"Action, Drama, Romance",74,USA,English,"Oscar Apfel, Cecil B. DeMille",...,802,$ 20000,NaN,NaN,NaN,8.0,3.0,True,True,True
58,tt0006206,Les vampires,Les vampires,1915,1915-11-13,"Action, Adventure, Crime",421,France,French,Louis Feuillade,...,3936,NaN,NaN,NaN,NaN,22.0,52.0,True,True,True
60,tt0006333,"20,000 Leagues Under the Sea","20,000 Leagues Under the Sea",1916,1916-12-24,"Action, Adventure, Sci-Fi",105,USA,English,Stuart Paton,...,1440,$ 200000,NaN,NaN,NaN,26.0,16.0,True,True,True
77,tt0007257,Reggie Mixes In,Reggie Mixes In,1916,1916-06-11,"Action, Comedy, Drama",50,USA,English,Christy Cabanne,...,553,NaN,NaN,NaN,NaN,4.0,NaN,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81232,tt9795368,Tobol,Tobol,2019,2019-02-21,"Action, Drama, History",108,Russia,Russian,Igor Zaytsev,...,299,NaN,NaN,$ 2178525,NaN,2.0,NaN,True,True,True
81233,tt9799984,Falaknuma Das,Falaknuma Das,2019,2019-05-31,"Action, Thriller",145,India,Telugu,Vishwaksen Naidu,...,425,NaN,NaN,NaN,NaN,11.0,3.0,True,True,True
81239,tt9815714,The Hard Way,The Hard Way,2019,2019-03-05,Action,92,USA,English,Keoni Waxman,...,1734,$ 3000000,NaN,NaN,NaN,33.0,11.0,True,True,True
81248,tt9839040,Murphy's Law: Ghanoone Morfi,Murphy's Law: Ghanoone Morfi,2019,2019-01-02,"Action, Comedy, Fantasy",98,Iran,Persian,Rambod Javan,...,262,IRR 35000000000,NaN,NaN,NaN,4.0,24.0,True,True,True
81267,tt9900782,Kaithi,Kaithi,2019,2019-10-25,"Action, Thriller",145,India,Tamil,Lokesh Kanagaraj,...,3082,$ 6000000,NaN,$ 420126,NaN,98.0,6.0,True,True,True

In [ ]:
#เลือก ID นักแสดง Action

In [14]:
IMDb_title_principals = pd.read_csv('C:\\Users\\ADMINS\\DATASPELL Project\\IMDb title_principals.csv')
IMDb_title_principals

,imdb_title_id,ordering,imdb_name_id,category,job,characters
0,tt0000574,1,nm0846887,actress,NaN,"[""Kate Kelly""]"
1,tt0000574,2,nm0846894,actor,NaN,"[""School Master""]"
2,tt0000574,3,nm3002376,actor,NaN,"[""Steve Hart""]"
3,tt0000574,4,nm0170118,actress,NaN,NaN
4,tt0000574,5,nm0846879,director,NaN,NaN
...,...,...,...,...,...,...
377843,tt9903716,5,nm10532693,director,NaN,NaN
377844,tt9903716,6,nm10531260,producer,producer,NaN
377845,tt9903716,7,nm6044359,composer,NaN,NaN
377846,tt9903716,8,nm10532695,cinematographer,NaN,NaN
377847,tt9903716,9,nm9492020,editor,NaN,NaN

In [ ]:
#รวมตารางโดยใช้คอลัมน์ที่เหมือนกัน imdb_title_id

In [21]:
merged_df = Action_movie.merge(IMDb_title_principals, how='inner', left_on='imdb_title_id', right_on='imdb_title_id')
merged_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,reviews_from_users,reviews_from_critics,Action_Genre1,Action_genre1,Action_genre,ordering,imdb_name_id,category,job,characters
0,tt0004635,The Squaw Man,The Squaw Man,1914,1914-02-15,"Action, Drama, Romance",74,USA,English,"Oscar Apfel, Cecil B. DeMille",...,8.0,3.0,True,True,True,1,nm0267914,actor,NaN,"[""Capt. James Wynnegate - aka Jim Carston""]"
1,tt0004635,The Squaw Man,The Squaw Man,1914,1914-02-15,"Action, Drama, Romance",74,USA,English,"Oscar Apfel, Cecil B. DeMille",...,8.0,3.0,True,True,True,2,nm0758457,actor,NaN,"[""Sir Henry - Earl of Kerhill""]"
2,tt0004635,The Squaw Man,The Squaw Man,1914,1914-02-15,"Action, Drama, Romance",74,USA,English,"Oscar Apfel, Cecil B. DeMille",...,8.0,3.0,True,True,True,3,nm0455612,actress,NaN,"[""Lady Diana - Countess of Kerhill""]"
3,tt0004635,The Squaw Man,The Squaw Man,1914,1914-02-15,"Action, Drama, Romance",74,USA,English,"Oscar Apfel, Cecil B. DeMille",...,8.0,3.0,True,True,True,4,nm0277317,actress,NaN,"[""The Dowager Lady Elizabeth Kerhill""]"
4,tt0004635,The Squaw Man,The Squaw Man,1914,1914-02-15,"Action, Drama, Romance",74,USA,English,"Oscar Apfel, Cecil B. DeMille",...,8.0,3.0,True,True,True,5,nm0002177,director,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57024,tt9839040,Murphy's Law: Ghanoone Morfi,Murphy's Law: Ghanoone Morfi,2019,2019-01-02,"Action, Comedy, Fantasy",98,Iran,Persian,Rambod Javan,...,4.0,24.0,True,True,True,6,nm7859465,writer,writer,NaN
57025,tt9839040,Murphy's Law: Ghanoone Morfi,Murphy's Law: Ghanoone Morfi,2019,2019-01-02,"Action, Comedy, Fantasy",98,Iran,Persian,Rambod Javan,...,4.0,24.0,True,True,True,7,nm10521235,producer,producer,NaN
57026,tt9839040,Murphy's Law: Ghanoone Morfi,Murphy's Law: Ghanoone Morfi,2019,2019-01-02,"Action, Comedy, Fantasy",98,Iran,Persian,Rambod Javan,...,4.0,24.0,True,True,True,8,nm2201950,composer,NaN,NaN
57027,tt9839040,Murphy's Law: Ghanoone Morfi,Murphy's Law: Ghanoone Morfi,2019,2019-01-02,"Action, Comedy, Fantasy",98,Iran,Persian,Rambod Javan,...,4.0,24.0,True,True,True,9,nm5581778,cinematographer,NaN,NaN
57028,tt9839040,Murphy's Law: Ghanoone Morfi,Murphy's Law: Ghanoone Morfi,2019,2019-01-02,"Action, Comedy, Fantasy",98,Iran,Persian,Rambod Javan,...,4.0,24.0,True,True,True,10,nm4325491,editor,NaN,NaN

In [ ]:
#กรองเฉพาะที่เป็นนักแสดงผลลัพธ์ที่ได้จะได้นชื่อนักแสดงที่อาจซ้ำกันได้จึงต้องเปรียบเทียบกับ Name ID

In [29]:
action_star_df = merged_df[merged_df['category'].isin(['actor','actress'])]
action_star_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,reviews_from_users,reviews_from_critics,Action_Genre1,Action_genre1,Action_genre,ordering,imdb_name_id,category,job,characters
0,tt0004635,The Squaw Man,The Squaw Man,1914,1914-02-15,"Action, Drama, Romance",74,USA,English,"Oscar Apfel, Cecil B. DeMille",...,8.0,3.0,True,True,True,1,nm0267914,actor,NaN,"[""Capt. James Wynnegate - aka Jim Carston""]"
1,tt0004635,The Squaw Man,The Squaw Man,1914,1914-02-15,"Action, Drama, Romance",74,USA,English,"Oscar Apfel, Cecil B. DeMille",...,8.0,3.0,True,True,True,2,nm0758457,actor,NaN,"[""Sir Henry - Earl of Kerhill""]"
2,tt0004635,The Squaw Man,The Squaw Man,1914,1914-02-15,"Action, Drama, Romance",74,USA,English,"Oscar Apfel, Cecil B. DeMille",...,8.0,3.0,True,True,True,3,nm0455612,actress,NaN,"[""Lady Diana - Countess of Kerhill""]"
3,tt0004635,The Squaw Man,The Squaw Man,1914,1914-02-15,"Action, Drama, Romance",74,USA,English,"Oscar Apfel, Cecil B. DeMille",...,8.0,3.0,True,True,True,4,nm0277317,actress,NaN,"[""The Dowager Lady Elizabeth Kerhill""]"
8,tt0006206,Les vampires,Les vampires,1915,1915-11-13,"Action, Adventure, Crime",421,France,French,Louis Feuillade,...,22.0,52.0,True,True,True,1,nm0615736,actress,NaN,"[""Irma Vep""]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57012,tt9795368,Tobol,Tobol,2019,2019-02-21,"Action, Drama, History",108,Russia,Russian,Igor Zaytsev,...,2.0,NaN,True,True,True,4,nm1282927,actor,NaN,"[""Peter I""]"
57019,tt9839040,Murphy's Law: Ghanoone Morfi,Murphy's Law: Ghanoone Morfi,2019,2019-01-02,"Action, Comedy, Fantasy",98,Iran,Persian,Rambod Javan,...,4.0,24.0,True,True,True,1,nm5047005,actor,NaN,"[""Farrokh""]"
57020,tt9839040,Murphy's Law: Ghanoone Morfi,Murphy's Law: Ghanoone Morfi,2019,2019-01-02,"Action, Comedy, Fantasy",98,Iran,Persian,Rambod Javan,...,4.0,24.0,True,True,True,2,nm2201406,actor,NaN,"[""Bahman""]"
57021,tt9839040,Murphy's Law: Ghanoone Morfi,Murphy's Law: Ghanoone Morfi,2019,2019-01-02,"Action, Comedy, Fantasy",98,Iran,Persian,Rambod Javan,...,4.0,24.0,True,True,True,3,nm2202538,actor,NaN,"[""Manoochehr - Edward Murphy""]"
57022,tt9839040,Murphy's Law: Ghanoone Morfi,Murphy's Law: Ghanoone Morfi,2019,2019-01-02,"Action, Comedy, Fantasy",98,Iran,Persian,Rambod Javan,...,4.0,24.0,True,True,True,4,nm10521233,actor,NaN,"[""Arash""]"

In [ ]:
#อ่านไฟล์ Name ID

In [23]:
IMDb_names = pd.read_csv('C:\\Users\\ADMINS\\DATASPELL Project\\IMDb names.csv')
IMDb_names

,imdb_name_id,name,birth_name,height,bio,birth_details,birth_year,date_of_birth,place_of_birth,death_details,death_year,date_of_death,place_of_death,reason_of_death,spouses,divorces,spouses_with_children,children,primary_profession,known_for_titles
0,nm0000001,Fred Astaire,Frederic Austerlitz Jr.,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...","May 10, 1899 in Omaha, Nebraska, USA",1899.0,1899-05-10,"Omaha, Nebraska, USA","June 22, 1987 in Los Angeles, California, USA ...",1987.0,1987-06-22,"Los Angeles, California, USA",pneumonia,2,0,1,2,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0043044"
1,nm0000002,Lauren Bacall,Betty Joan Perske,174.0,Lauren Bacall was born Betty Joan Perske on Se...,"September 16, 1924 in The Bronx, New York City...",1924.0,1924-09-16,"The Bronx, New York City, New York, USA","August 12, 2014 in New York City, New York, US...",2014.0,2014-08-12,"New York City, New York, USA",stroke,2,1,2,3,"actress,soundtrack","tt0037382,tt0038355,tt0117057,tt0071877"
2,nm0000003,Brigitte Bardot,Brigitte Bardot,166.0,"Brigitte Bardot was born on September 28, 1934...","September 28, 1934 in Paris, France",1934.0,1934-09-28,"Paris, France",NaN,NaN,NaN,NaN,NaN,4,3,1,1,"actress,soundtrack,producer","tt0054452,tt0059956,tt0057345,tt0049189"
3,nm0000004,John Belushi,John Adam Belushi,173.0,"John Belushi was born in Chicago, Illinois, US...","January 24, 1949 in Chicago, Illinois, USA",1949.0,1949-01-24,"Chicago, Illinois, USA","March 5, 1982 in Hollywood, Los Angeles, Calif...",1982.0,1982-03-05,"Hollywood, Los Angeles, California, USA",acute cocaine and heroin intoxication,1,0,0,0,"actor,writer,soundtrack","tt0078723,tt0072562,tt0080455,tt0077975"
4,nm0000005,Ingmar Bergman,Ernst Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...","July 14, 1918 in Uppsala, Uppsala län, Sweden",1918.0,1918-07-14,"Uppsala, Uppsala län, Sweden","July 30, 2007 in Fårö, Gotlands län, Sweden",2007.0,2007-07-30,"Fårö, Gotlands län, Sweden",NaN,5,4,5,8,"writer,director,actor","tt0050976,tt0083922,tt0069467,tt0050986"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175710,nm9991131,Charoen Kaithitisuwan,Charoen Kaithitisuwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,"producer,script_department",tt7547814
175711,nm9991653,Wojciech Rzehak,Wojciech Rzehak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,writer,NaN
175712,nm9992720,McMagic Cardenas,McMagic Cardenas,NaN,"McMagic Cardenas is an actor, known for The Sy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,actor,tt7233828
175713,nm9992840,Rashaduzzman Shohag,Rashaduzzman Shohag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,editorial_department,"tt8735380,tt8709986"
175714,nm9992999,William Plyler,William Plyler,NaN,"William Plyler is a producer and actor, known ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,"producer,actor,writer","tt9413640,tt8483220,tt3239442"

In [ ]:
#รวตารางชื่อนักแสดง Action และ Name ID จากนั้นใช้คำสั่ง drop_duplicates() กรองชื่อซ้ำ

In [28]:
action_star_df.merge(IMDb_names, how='inner', left_on='imdb_name_id', right_on='imdb_name_id')[['imdb_name_id','name']].drop_duplicates()

      imdb_name_id                 name
0        nm0267914        Dustin Farnum
1        nm0758457     Monroe Salisbury
2        nm0455612    Winifred Kingston
3        nm0277317     Mrs. A.W. Filson
4        nm0615736             Musidora
...            ...                  ...
24392    nm1914593      Evgeniy Dyatlov
24393    nm1282927      Dmitriy Dyuzhev
24394    nm2201406          Amir Jafari
24395    nm2202538         Rambod Javan
24396   nm10521233  Danial Ghaffarzadeh

[14912 rows x 2 columns]